.bodypage {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
 
}


.main-header {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 31.5px;
    margin-bottom: 31.5px;
}

.container {
    display: flex;    
}
.navbar{
    display: inline-flex;
    
}

.menu{
    display: inline-flex;
    
}

.menu-item {
    
    display: inline-flex;
    margin-left: 72px;
}

.menu-link {
    
    font-size: 15px;
    color: #FF0000;

}

.menu-link-move {
    margin-left: 50px;
    
}



.img-container{
    
    background: url('./img/image.png') no-repeat;
    background-size:contain;
      
}

.main-image{
    height: auto; 
    width: 100%; 
    max-width: 100%; 
    max-height: 790px;
}


.text-container {
    margin-top: 49px;
    text-align: center;
     
}

.title-box{
    margin-left: 253px;
    margin-right: 253px;
    width: 774px;
    padding-left: 0px;
}
.page-title{
    color:#373737;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 4px;
}

.text-box{
    margin-left: 67.5px;  
    margin-right: 67.5px;
    margin-top: 38px;
}

.inside-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;  
}

.button-container{
    margin-top: 66px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn{
    display: inline-block;
    width: 191px;
    height: 51px;
    padding-left: 42px;
    padding-right: 43px;
    padding-top: 18px;
    padding-bottom: 17px;
    border-radius: 6px;
    border: none;
}
    
.btn-font{    
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.btn-color {
    color: #FFFFFF;
    background-color: #FF0000;
    border: 1px solid floralwhite;
}

.footer-box {
    
    display: flex;
    justify-content: right;
    align-items:center;
    padding-left: 713px;
    padding-right: 105px;
    padding-top: 82px;
    padding-bottom: 29px;
    
}
.footer-info {
   font-weight: 700;
   font-size: 16px;
   line-height: 19.5px;
   letter-spacing: 2.4px;
}